<article class="calender">
  <section class="hero">
    <div class="title-frame pink-border">
      <div class="title-box pink-background">
        <h1 class="title">Book</h1>
      </div>
    </div>
    <%= image_tag "gate.jpg", id: "bk-home", alt: "Open gate in a field" %>
  </section>

  <section class="description-pane description-pane-padding">
    <%= @reserver_id %>
    <div class="one-half">
      <div class="focus-description">
        <h2 class="med-heading">Check our Availability</h2>
        <p>Before making your reservation, please check that your prefered dates are available.
          You can do this by submitting your dates below or browsing our calendar.
        </p>
      </div>
      <div class="rose-border search-form-frame s-f-c">
        <%= render "dates_checker" %>
      </div>
    </div>

    <div class="one-half calendar-area">
      <%= render "cal_table" %>
</article>
