// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$pink: #e2c0cc;
$pale-pink-fade: rgba(247, 241, 239, .9);
$pale-blue: #bbd2e8;
$pale-pink: #f7f1ef;
$green: #a3b6a6;
$purple: #b59cba;
$font-grey: #5a5151;
$fancy-font: 'Sacramento', cursive;
$body-font: 'Cormorant Garamond', serif;


.title-pane {
  height: 100vh;
  position: relative;


}


.room-pane {
  position: relative;

}
#room-img-main {
  width: 80%;
  display: block;
  padding: 20px;
  margin: auto;
}

.description-pane {
  position: relative;
  overflow: auto;

}
.description-pane-padding {
  padding: 100px 0 100px 0;
}
.one-half {
  width: 50%;
  float: left;
  overflow: hidden;
}
.focus-description {
  position: relative;
  width: 80%;
  display: block;
  padding: 20px;
  margin: auto;
  text-align: center;
  h2 {
    padding: 20px 0;
  }
}
.med-heading {
  font-family: $fancy-font;
  font-size: 4em;
}
#room-img-sub {
  width: 80%;
  display: block;
  padding: 20px;
  margin: 75px auto 0 auto;
}
