// Place all the styles related to the reserver_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login-box {
  text-align: center;

  h2 {
    font-family: 'Sacramento', cursive;
    margin-bottom: 20px;
    font-size: 3em;
  }
}
