// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  position: relative;

}
.hero {
  position: relative;

}
#bk-home {
  height: 100vh;
  width: 100%;
}
/*displays the border and positions the title center*/

.title-frame {
  position: absolute;
  display: inline-block;
  padding: 10px;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
           -moz-transform: translate(50%, 50%);
           -ms-transform: translate(50%, 50%);
           -o-transform: translate(50%, 50%);
           transform: translate(50%, 50%);
}
/*holds the title and shows background*/
.title-box {
  position: relative;
  display: inline-block;
  padding: 50px;
}

/*page title*/
.les {
  white-space: nowrap;
}
.title {
  font-size: 9em;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

//welcome area
.welcome {
  background-color: rgba(247, 241, 239, .5);
  padding: 50px 0;
  overflow: auto;
}

#front-door {
  display:inline-block;
  width: 100%;
}
.door-frame {
  width: 90%;
  padding: 20px;
  margin: 121px auto 0 auto;
}
.two-third {
  width: 66.66%;
  float: left;
  h2 {
    padding: 0 0 25px 50px;
  }

  p {
    padding: 0 100px;
  }

  h3 {
    padding: 50px;
  }
}
p {
  font-size: 1.5em;
  line-height: 1.5em;
}
.signed {
  font-family: 'Sacramento', cursive;
  font-size: 2.5em;
  text-align: center;
}
.large-sub-h {
  font-family: 'Sacramento', cursive;
  font-size: 6em;
}
.one-third {
  width: 33.33%;
  float: left;
}
.text-link {
  font-weight: bold;
}
.text-link:hover {
  text-decoration: underline;
}
