
//limmit of mobile and tablet
@media only screen and (max-width: 1025px) {
  .one-third, .two-third, .one-half {
    width: 100%;
  }
  .door-frame {
    width: 60%;
    margin-top: 50px;
  }
  .hamburger {
    //width: 70px;
    //height: 70px;
  }
  .hamburger-box {
  //  width: 40px;
 }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    //width: 40px;
  //  height: 4px;
  }
  .hamburger-inner::before {
  //  top: -12px;
}
  .hamburger-inner::after {
    //bottom: -12px;
  }
  .description-pane-padding {
    padding: 50px 0 50px 0;
  }
  .focus-description {
    width: 85%;
    padding: 0 0 80px 0;

  }
  #room-img-main {
    width: 95%;
    padding: 10px;
    margin: auto;
  }
  #room-img-sub {
    width: 95%;
    display: block;
    padding: 10px;
    margin: auto;
  }
  #log-frame-sizer {
    width: 70%;

  }
  #log-box-sizer {
    display: block;
    padding: 50px 0;
    form {
      width: 90%;
      margin: auto;
    }
  }
  .reservation-frame {
    width: 80%;

  }
  .reservation {
    padding: 60px 0;
  }

}
@media screen and (max-width: 900px) {
  .reservation-show {

    overflow: auto;
  }
  .reservation-frame {
    transform: none;
    display:block;
    top: 0;
    left: 0;
    width: 80%;
    margin: 60px auto;

  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 10px;
  }
  p {
    font-size: 2.5em
  }
  .title-box {
    padding: 20px;
  }
  .signed {
    font-size: 3em;
  }
  form {
    font-size: 16px;
    p{
      font-size: 1.5em;;
    }
  }
  .welcome-instructions{
    p {
      font-size: 2em
    }
  }
  #reserver-expander {
    width: 95%;
  }
  .reservation-frame {
    width: 95%;
  }
  .profile-main {
    padding: 50px 0;
  }
  .menu {

    a{

      font-size: 3em;
    }
  }

}
@media screen and (max-width: 600px) {
  .two-third h2 {
      padding: 0 0 15px 20px;
  }
  .two-third p {
      padding: 0 30px;
  }
  .door-frame {
    width: 90%;
    padding: 20px;
    margin: 30px auto 0 auto;
  }
  .focus-description {
    p {
      text-align: justify;
    }
  }
  .calendar-table td {
    height: 50px;
  }
  .tooltiptext {
    width: 80px;
  }
  #log-frame-sizer {
    width: 90%;

  }
  #log-box-sizer {
  }
  .search-form-frame {
    width: 90%;
  }
  .split-form {
    width: 90%;
  }
  .expand {
    width: 100%;
  }
  .menu {
    a{
      display: block;
      width:50%;
      margin:auto;
      padding-left: 0px;
      text-align: center;
    }
  }
}
@media screen and (max-width: 500px) {
  #bk-home {
    height: auto;
    width: 100%;
  }
  body {
    font-size: 6px;
  }
  .title-pane {
    height: 50vh;
  }

  .med-heading {
    font-size: 6em;
  }
  form {
    font-size: 10px;
  }
  .calendar-head {
  font-size: 10px;
  }
  .search-form-frame {
    width: 90%;
  }
  .tooltiptext {
    width: 60px;
  }
  .login-pane {
    #log-hero--sizer {
      height: 100vh;
      background-color: rgba(226,	192, 204, .2);
    }
    #bk-home {
      display: none;
    }
  }
  .reservation {
    h2 {
      line-height: 2em;
    }
    .normal-heading {
      font-size: 2.5em;
    }
  }
  .welcome-instructions {
    .med-heading {
      font-size: 4em;
    }
  }
  #mini-head {
    font-size: 4em;
  }

}
